
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 10vh;
    position: fixed;
    z-index: 99999999;
    width: 100%;
    background: rgba(2, 47, 63, 0.5);
}

nav .hamburg{
    display: none;

    
}

nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

nav .menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    /* transition: 0.3s ease; */
}

nav .menu a:hover {
    color: blue;
    border: 1px solid blanchedalmond;
    border-radius: 10px;
}

@media(max-width: 700px) {
    nav {
        padding: 0 20px;
    }

    nav .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: -1;
        /* height: 100vh; */
        top: 0vh;
        right: 0;
        width: 100%;
        gap: 30px;
        background: rgba(2, 47, 63, 0.8);
        text-align: center;
        padding: 20px 0;
    }

     nav .active {
        display: flex;
    }

    nav .hamburg {
        display: block;
        color: azure;
        /* font-size: 25px; */
    }
}